<form [formGroup]="raiseRequestForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>{{'ProfileInfo.raiserequestmodel' | translate}} </h1>
    <div mat-dialog-content>
      <mat-form-field *ngIf = "!inventoryReques" class="example-full-width" appearance="outline">
        <mat-label>{{'Dashboard.Subject'|translate}}</mat-label>
        <input matInput formControlName="inventory_type">
      </mat-form-field>
      <mat-form-field *ngIf = "inventoryReques" class="example-full-width" appearance="outline" >
        <mat-label>Select inventory</mat-label>
        <mat-select formControlName="inventory_type" required>
          <mat-option *ngFor="let i of inventoryTypeList" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please select inventory
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width margin_bottom mb-24" appearance="outline">
        <mat-label>{{'Students.YourRequest'|translate}}</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error>
          Description is required!
        </mat-error>
      </mat-form-field>
  
      <label class="btn accept "> <input  type="file" #file (change)="onChangingimg(file.files)">{{'ProfileInfo.attachdoc' | translate}}</label> <p>{{fileName}}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button class="btn_Cancel" type="button" (click)="onNoClick()">{{'ProfileInfo.cancel' | translate}}</button>
      <button mat-button class="btn_top_add" type="submit" cdkFocusInitial>{{'ProfileInfo.submit' | translate}}</button>
    </div>
  </form>