<form [formGroup]="raiseRequestForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{'Inventory.raiserequest'|translate}}</h1>
  <div mat-dialog-content>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Inventory.selectinventory'|translate}}</mat-label>
      <mat-select formControlName="inventory_request_id" required>
        <mat-option *ngFor="let i of inventoryTypeList" [value]="i.id">
          {{i.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        Please select inventory
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Inventory.quantity'|translate}}</mat-label>
      <input type="text" matInput formControlName="quantity" required>
      <mat-error *ngIf="raiseRequestForm.get('quantity').hasError('required')">
        Quantity is required!
      </mat-error>
      <mat-error *ngIf="raiseRequestForm.get('quantity').hasError('pattern')">
        Enter quantity in numbers
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>{{'Inventory.yourrequest'|translate}}</mat-label>
      <textarea matInput formControlName="comment" required></textarea>
      <mat-error>
        Description is required!
      </mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn_Cancel" type="button"
      (click)="onNoClick()">{{'ProfileInfo.cancel'|translate}}</button>
    <button mat-button class="btn_top_add" type="submit" cdkFocusInitial>{{'AssignBooks.Submit'|translate}}</button>
  </div>
</form>