.example-full-width {
    width: 100%;
}

.accept {
    background: #dedede;
    border: none;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.aks {
    justify-content: center;
    display: flex;
}
.heading {
    text-align: center;
}