<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

    <!-- REACTIVE FORM EXAMPLE -->

    <form class=" border-radius-10" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="resetPassword" (ngSubmit)="onSubmit()">

        <div class="h2 mb-24">Password Change Request</div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Old Password</mat-label>
                <input matInput appBlockCopyPaste placeholder="Password" [type]="hide3 ? 'password' : 'text'"
                    formControlName="oldPassword" required>
                <mat-icon class="cursor-pointer" matSuffix (click)="hide3 = !hide3">
                    {{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="resetPassword.get('oldPassword').hasError('required')">
                    Old Password is required
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'"
                    formControlName="password" required>
                <mat-icon class="cursor-pointer" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="resetPassword.get('password').hasError('required')">
                    New Password is required
                </mat-error>
                <mat-error *ngIf="resetPassword.get('password').hasError('minlength')">
                    Min Length Of New Password Should Be 8 Characters
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Confirm New Password</mat-label>
                <input matInput appBlockCopyPaste placeholder="Confirm New Password"
                    [type]="hide1 ? 'password' : 'text'" formControlName="passwordConfirm" required>
                <mat-icon class="cursor-pointer" matSuffix (click)="hide1 = !hide1">
                    {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="resetPassword.get('passwordConfirm').hasError('required')">
                    Password confirmation is required
                </mat-error>
                <mat-error *ngIf="!resetPassword.get('passwordConfirm').hasError('required') &&
                            resetPassword.get('passwordConfirm').hasError('passwordsNotMatching')">
                    Passwords must match
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <button mat-raised-button color="accent" class="submit-button btn_top_add"
                [disabled]="resetPassword.invalid">{{'Category.submit'|translate}}</button>
            <button type="button" mat-raised-button (click)="closeDialog()"
                class="btn_reject fuse-white  ml-4 mr-4 mt-md-0">
                <span>{{'ProfileInfo.cancel' | translate}}</span>
            </button>
        </div>
    </form>

</div>


<!-- / CONTENT -->