<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/Transparant-logo-2.png">
        </div>

        <!-- <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome To Indian School Fujairah!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Your Smart Way Of Learning..!!
        </div> -->

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/logo-300x300.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND OTP">
                    SEND OTP
                </button>
               
            </form>
            <div *ngIf = "showField" class="otp_btn">
                <mat-label class="mb-10">Enter Your OTP</mat-label>
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                    [config]="config">
                </ng-otp-input>
                <button mat-raised-button class="submit-button-2 mt-20" color="accent" (click) = "onValidate()" aria-label="VERIFY OTP">
                    VERIFY OTP
                </button>
            </div>



            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/library/auth/login'">Go back to login</a>
            </div>

        </div>
    </div>
</div>