<form [formGroup]="leaveApplyForm" (ngSubmit)="onSubmit()">

  <h1 mat-dialog-title>{{'Attendance.applyleave'|translate}}</h1>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <mat-form-field appearance="outline" fxFlex="50" (click)="picker1.open()">
        <mat-label>{{'Attendance.startdate' |translate}}</mat-label>
        <input matInput formControlName="date_from" (dateInput)="onDateChangeStartDate($event.value)" [min]="startDate"
          [matDatepicker]="picker1" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error>Start date is required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="50" (click)="picker2.open()">
        <mat-label>{{'Attendance.enddate' |translate}}</mat-label>
        <input matInput formControlName="date_to" [min]="endDate" [matDatepicker]="picker2" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error>End date is required!</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <mat-form-field class="example-full-width" fxFlex="100" appearance="outline">
        <mat-label>{{'Students.Select leave type'|translate}}</mat-label>
        <mat-select formControlName="leave_type" required>
          <mat-option *ngFor="let i of leaveTypes" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Please select leave type
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{'Attendance.reasonforfutureleaves'| translate}}</mat-label>
        <textarea matInput formControlName="comment" required></textarea>
        <mat-error>Reason is required!</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn_Cancel btn_reject" [mat-dialog-close]>{{'ProfileInfo.cancel' | translate}}</button>
    <button mat-button class="btn_top_add" cdkFocusInitial type="submit">{{'ProfileInfo.submit'|translate}}</button>
  </div>
</form>