<form [formGroup]="sessionForm" (ngSubmit)="onSubmit()">

    <h1 mat-dialog-title>{{'sessionselection' | translate}}</h1>
    <div mat-dialog-content>
        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="example-full-width" fxFlex="100" appearance="outline">
                <mat-label>{{'academicYear' | translate}}</mat-label>
                <mat-select formControlName="academicYear" required>
                    <mat-option *ngFor="let a of academicYears" [value]="a.id">
                        {{a.start_date}} To {{a.end_date}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Please select academic year
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="example-full-width" fxFlex="100" appearance="outline">
                <mat-label>{{'termName' | translate}}</mat-label>
                <mat-select formControlName="term" required>
                    <mat-option *ngFor="let t of termList" [value]="t">
                        {{t.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Please select term
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <!-- <button mat-button class="btn_Cancel" [mat-dialog-close]>{{'ProfileInfo.cancel' | translate}}</button> -->
        <button mat-button class="btn_top_add" cdkFocusInitial type="submit">{{'ProfileInfo.submit'|translate}}</button>
    </div>
</form>