@import "src/@fuse/scss/fuse";
$break-small: 767px;
:host {

  .content {

      form {
          width: 100%;
      }

      .form-errors-model {
          flex: 1;

          code {
              background: none !important;
          }
      }
      .advertising {
          border-radius: 30px;
      }
      .container_cust {
        place-content: flex-start !important;
        width: 100%;
      }
      .main_sec {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px !important;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
      }
      .main_add {
        background: #fff;
        padding: 20px;
        margin-bottom: 20px !important;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

      }
      .mat-elevation-z4 {
          box-shadow: none;
      }
      .btn_tab {
        border-radius: 0px 10px 0px 0px;
        margin-bottom: 2px;

      }
      .example-h2 {
        margin: 10px;
      }

      .example-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
      }

      .example-margin {
        margin: 0 10px;
      }

      @media screen and (max-width: $break-small) {
        .ml-24 {
            margin-left: 0px !important;
        }
        .form_mbl {
          min-height: 100% !important;
          max-height: 100% !important;
          min-width: 100% !important;
          max-width: 100% !important;
          margin-bottom: 20px;
          flex: auto !important;
        }
        .language {
          flex: none !important;
          min-height: 100% !important;
          max-height: 100% !important;
        }
        .img_qr {
          position: absolute;
          bottom: 30px;
          text-align: center;
          align-items: center;
          display: contents;
        }
        .mat-card-image {
          width: 100%;
        }
      }
  }
}